a {
    color: white;
    text-decoration: none;
}
p {
    font-size: x-large;
    columns: 3 auto;
    color: #DC7F9B;
}

#logo {
    display: flex;
    width: inherit;
    padding: 37px 85px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(240, 238, 238, 0.15) 50%, rgba(217, 217, 217, 0.00) 100%);
}

.left {
    float: left;
    width: 200px;
    color: #DC7F9B;
    font-family: Koh Santepheap;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    float: right;
    width: 600px;
    color: #d0d3d6;
    font-family: Geneva;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  
}


body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    background-image: url("https://s3-alpha-sig.figma.com/img/39ce/a592/f8b3da780ffa8a7a58646805de303faa?Expires=1691971200&Signature=idFl95L31RKcRTSYd9T4~SsUn5lY3BD0rRB3ojx8KtzTVi5cvSaGtb9jYBzPsbwymRtCotfXPXvVhrZ08zRrmtfxtr4j3JO94RkF5gi~Fo~vofoSVAHNQuVc24KWUgCzlcPV4PrOyQ51DN20m2Pum8Pez3XLAt~tD3aGTysRFm4xW77F40OUH56KTEM8zcHXXXKOEIGGa7zbHVDoW1Lpvlq-FhSFnLb6rrFWQcuTx8BJxh697CxoiiDxgwy7wVQ1xZo4eHWX8MQoh2hsxw4vxh68TaowHXYzBBVD953K4eMtFswk3lMBM8VOadQXLhXaDn-8SH7ZyJE3B~cQdX7jQA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    /* Optional fallback background color */
    background-position-x: center;
    background-position-y: top;
    background-color: lightgray;
    background-repeat: no-repeat;
    /* Optional: Prevent the background image from repeating */
    background-size: cover;
}

.ellipse {
    border-radius: 70%;
    /* Set the border-radius to 50% to create an ellipse */
    width: 400px;
    /* Set the width of the image */
    height: 400px;
    /* Set the height of the image */
}



.tag-column {
    color: #DC7F9B;
    font-family: Koh Santepheap;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 60px;
    height: 100px
}

button{
            display: block;
            background-color: #DC7F9B;;
            font-size: large;
            height:35px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
}

.form-container{
    color: #DC7F9B;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.required-field::after{
        content: "*";
        color: white;
        margin-left: 5px;
}

input {
    width: 100%;
    height: 20px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgba(95, 92, 92, 0.1);
  }
  
  form{
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 600px)  {
        p{
        columns: 1 auto;
        font-size: medium;
        }
        .ellipse{
            width: 100px;
            height: 100px;
        }
    }